@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
  input[type='range'] {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    appearance: none;
    background: linear-gradient(to right, #ff4757 50%, #ddd 50%);
    outline: none;
    border-radius: 5px;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Safari dan Chrome */
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #ff4757;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
    transform: scale(1.25);
}

input[type='range']::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #ff4757;
    border-radius: 9999px;
    cursor: pointer;
    transition: -webkit-transform 0.2s ease-in-out; /* Tambahkan untuk Firefox */
    transition: transform 0.2s ease-in-out;
}

input[type='range']::-moz-range-thumb:hover {
    -webkit-transform: scale(1.25); /* Tambahkan untuk Firefox */
    transform: scale(1.25);
}
}